/**
 *@fileName style.css
 *@author   Like (likeaixi@gmail.com)
 *@date     2018/3/27
 *@disc
 */
@font-face {
    font-family: 'MyFont';
    src: url("../fonts/fontawesome-webfont.c8ddf1e.woff") format('woff');
    /*url("./fontawesome-webfont.25a3241.eot") format('eot'),*/
    /*url("./fontawesome-webfont.c8ddf1e.woff") format('woff'),*/
    /*url("./fontawesome-webfont.e6cf7c6.woff2") format('woff2');*/
}
.hello{
    color: red;
    font-family: 'MyFont';
    background: url('../images/27.png');
}